* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --swiper-theme-color: #da251c !important
}

h1, p {
    font-family: "Roboto", sans-serif;
    margin-bottom: 20px;
}

h1 {
    font-size: 3rem;
    font-weight: 900;
    color: #fff;
}

p {
    font-size: 1.5rem;
    color: #fff;
    font-weight: 400;
}


/** Hero CSS Starts Here */
.hero {
    /* border: 4px solid blueviolet; */
    min-height: 800px;
    background-image: url(img/herobg.jpg);
    background-color: rgb(65, 62, 62);
    background-blend-mode: multiply;
    background-position: center center;
    background-size: cover;
    display: flex;
    align-items: center;
}

.herotext {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.navcontainer {
    width: 80%;
    margin: 0 auto;
    padding: 1em 0em;
    /* border: 4px solid saddlebrown; */
}

.logo {
    text-decoration: none; /*removes the underline in title h2*/
}

.logo img {
    margin-right: 1em; /*add margin on right of logo */
}

.companytitle {
    font-family: "Roboto", sans-serif;
    color: #424642;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .25em 0em;
    /* border: 4px solid rebeccapurple; */
}


.nav {
    display: flex;
    margin-left: auto; /* Pushes the navigation to the far right*/
    padding: 0;
    /* border: 4px solid saddlebrown; */
}

.nav__list {
    margin: 0;
    padding: 0;
    list-style: none; /*removes the dots in ul */
    display: flex; /* makes the nav__item or li to become row */
    /* border: 4px solid yellow; */
}

.nav__item {
    margin-left: 1.75em; /*creates space on left of every li*/
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-size: 1.1rem;
}


.nav__link {
    text-transform: uppercase;
    text-decoration: none; /*removes underline in the li*/
    color: #424642;
    letter-spacing: 0.15em;
}

.nav__link:hover {
    border-bottom: solid 3px;
    border-color: #343538;
    color: #da251c;
}




.container {
    /* border: 4px solid green; */
    display: flex;
    width: 80%;
    margin: 0 auto;
    padding: 6em 0;
}

.herocontent {
    width: 50%; 
    padding: 0em 2em;
}

.herotextcontent {
    flex-grow: 1;
}

.herotextcontent p {
    line-height: 1.4;
    font-size: 2.5rem;
}

.herotextcontent h1 {
    line-height: 1.2;
    font-size: 4rem;
}

.herocontent img {
    max-width: 100%;
    box-shadow: 10px 10px 15px gray;
}

/*Slider Image CSS */
.image-sliderfade {
    display: none;
}

.fade {
    -webkit-animation-name: fade-image;
    -webkit-animation-duration: 1.5s;
    animation-name: fade-image;
    animation-duration: 4s;
}

@-webkit-keyframes fade-image {
    from {opacity: .5}
    to {opacity: 1}
}

@keyframes fade-image {
    from {opacity: .5}
    to {opacity: 1}
}

/* End of Slider Image CSS */


button{
    margin-top: 10px;
    margin-right: 10px;
    padding: 20px 40px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: "Roboto" sans-serif;
    font-weight: 800;
    font-size: 1rem;
    background-color: #fff;
    /* background-color: #da251c; */
    color: black;
    /* border-radius: 50px; */
    border: none;
}

button:focus {
    border: none;
    outline: none;
}

button:hover {
    background-color: #da251c;
    color: #fff;
    transition: ease-out 0.25s;
    letter-spacing: 4px;
}

.buttoncontainer {
    display: flex;
    justify-content: center;
    margin-top: 1em;
    
}


/** End of Hero CSS */

/** Start of Section / Services  CSS **/

.sectioncontainer {
    /* border: 4px solid green; */
    width: 80%;
    margin: 0 auto;
    padding-top: 5em;
}

.services {
    /* border: 4px solid blueviolet; */
    text-align: center;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-around;
    /*flex grow set the width into maximum of 100% kapag naka display flex ka lang kasi, naka max width lang sa content mo*/
    flex-grow: 1;
    align-items: flex-start;
    padding-top: 1em;
}

.services__content {
    /* border: 4px solid blue; */
    
    
    max-width: 250px;
    padding: 40px 10px;
}

.services p {
    color: #343538;
    font-size: 1rem;
    letter-spacing: 1px;
    width: 200px;
    /* border: 4px solid rgb(196, 3, 35); */
    margin: 0 auto;
    margin-top: 10px;
}

.services h2 {
    margin-top: 20px;
    color: #343538;
    font-family: "Roboto", sans-serif;
    margin-bottom: 10px;
    width: 200px;
    /* border: 4px solid rgb(196, 3, 35); */
    margin: 0 auto;
    
}

.serviceslogo {
    align-self: flex-start;
    /* height: auto; */
}

.serviceslogo img {
    /* border: 4px solid rgb(196, 3, 35); */
    align-items: flex-start;
    max-width: 100%;
    height: 200px;
}

.servicestext {
    /* border: 4px solid rgb(196, 3, 35);  */
    margin-top: 20px;
}

.sectionrow {
    display: flex;
    justify-content: space-around;
    padding-bottom: 2em;
    
}

.sectioncol {
    width: 100%;
    padding: 4em 2em;
    /* border: 4px solid rgb(196, 3, 35);   */
}

.h2titles {
    color: #343538;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-size: 2.5rem;
    text-align: center;
    text-transform: uppercase;
    margin: 0 auto;
    padding: 1em 0em;
}

.aboutimage {
    align-items: flex-start;
}


.aboutimage img {
    max-width: 100%;
    box-shadow: 10px 10px 15px gray;;
    padding: 1em 1em;
}


.sectioncol p {
    font-weight: 400;
    color: #343538;
    font-size: 1.2rem;
    line-height: 1.6;
    margin: 0 auto;
}

.textemp {
    color: #da251c;
    font-weight: 700;
    font-size: 2.5rem;
}

.textemp2 {
    color: #da251c;
    font-weight: 700;
    font-size: 1.5rem;
}

.featuredcontainer {
    background-color: #2f3033;
    
}

.featuredsection {
    width: 80%;
    margin: 0 auto;
    padding: 5em 0em;
}

.featuredtitle {
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-size: 2.5rem;
    text-align: center;
    text-transform: uppercase;
    margin: 0 auto;
}

.featured__row {
    display: flex;
    justify-content: space-between;
}

.featured__col {
    padding: 1em 1em;
    align-self: flex-start;
}

.featured__col img {
    max-width: 100%;
}

/*Contact Us CSS Starts Here*/
.googlemap {
    max-width: 100%;
    box-shadow: 10px 10px 15px gray;;
    padding: 1em 1em;
    width:100%;
}

.contactform {
    width: 100%;
}

.h3__contact {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-size: 1rem;
    color: #2f3033;
    margin-bottom: 1em;
    margin-top: 1em;
    text-transform: uppercase;
}

.contactform {
    max-width: 100%;
}

.inputBox {
    position: relative;
    margin: 0;
    padding: 0;
    max-width: 100%;
    margin-bottom: 20px;
    /* border: 4px solid rgb(196, 3, 35); */
}

.inputBox input,
.inputBox textarea {
    width: 80%;
    border: 1px solid #555;
    padding: 10px;
    color: #111;
    outline: none;
    font-size: 16px;
    font-weight: 300;
    resize: none;
}

.inputBox input[type="submit"] {
    font-size: 1em;
    color: #fff;
    background: #da251c;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
    max-width: 100px;
    font-weight: 500;
    border: none;
    cursor: pointer;
}

.footersection {
    background-color: #2f3033;
    /* border: 4px solid green; */
}


.footercontainer {
    width: 80%;
    margin: 0 auto;
    padding: 3em 0em;
    display: flex;
    align-content: center;
    justify-content: center;
    text-align: center;
    /* border: 4px solid rgb(196, 3, 35);  */
}

.footerrow {
}

.footertitle{
    font-family: "Roboto", sans-serif;
    color: rgb(202, 199, 199);
    font-size: 1rem;
    font-weight: 200;
}

.footertext {
    color: rgb(202, 199, 199);
    font-size: 1rem;
    padding: 0.5em 0em;
}

.footercol img {
    mix-blend-mode: multiply;
    z-index: 10;
}




/* Swiper CSS */
.swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
  }

  .swiper-pagination-bullet-active {
      color: #da251c;
  }