* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1, p {
    font-family: "Roboto", sans-serif;
    margin-bottom: 20px;
}

h1 {
    font-size: 3rem;
    font-weight: 900;
    color: #fff;
}

p {
    font-size: 1.5rem;
    color: #fff;
    font-weight: 400;
    letter-spacing: 2px;
}


/** Hero CSS Starts Here */
.hero {
    /* border: 4px solid blueviolet; */
    min-height: 600px;
    background-image: url(img/herobg.jpg);
    background-color: rgb(65, 62, 62);
    background-blend-mode: multiply;
    background-position: center center;
    background-size: cover;
}

.container {
    /* border: 4px solid green; */
    display: flex;
    width: 80%;
    margin: 0 auto;
    padding: 6em 0;
}

.herocontent {
    /* border: 4px solid purple; */
    width: 50%; 
    
}

.herocontent img {
    width: 100%;
    box-shadow: 10px 10px 15px gray;
}

/*Slider Image CSS */
.image-sliderfade {
    display: none;
}

.fade {
    -webkit-animation-name: fade-image;
    -webkit-animation-duration: 1.5s;
    animation-name: fade-image;
    animation-duration: 4s;
}

@-webkit-keyframes fade-image {
    from {opacity: .5}
    to {opacity: 1}
}

@keyframes fade-image {
    from {opacity: .5}
    to {opacity: 1}
}

/* End of Slider Image CSS */


button{
    margin-top: 10px;
    margin-right: 10px;
    padding: 10px 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: "Roboto" sans-serif;
    font-weight: 800;
    background-color: #fff;
    /* background-color: #da251c; */
    color: black;
    /* border-radius: 50px; */
    border: none;
}

button:focus {
    border: none;
    outline: none;
}

button:hover {
    background-color: #da251c;
    color: #fff;
    transition: ease-out 0.25s;
    letter-spacing: 4px;
}

/** End of Hero CSS */

/** Start of Section / Services  CSS **/

.sectioncontainer {
    /* border: 4px solid green; */
    width: 80%;
    margin: 0 auto;
    padding: 3em 0em;
}

.services {
    /* border: 4px solid blueviolet; */
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /*flex grow set the width into maximum of 100% kapag naka display flex ka lang kasi, naka max width lang sa content mo*/
    flex-grow: 1;
    align-items: flex-start;
}

.services__content {
    /* border: 4px solid blue; */
    
    
    max-width: 250px;
    padding: 40px 10px;
}

.services p {
    color: #343538;
    font-size: 1rem;
    letter-spacing: 1px;
    width: 200px;
    /* border: 4px solid rgb(196, 3, 35); */
    margin: 0 auto;
    margin-top: 10px;
}

.services h2 {
    margin-top: 20px;
    color: #343538;
    font-family: "Roboto", sans-serif;
    margin-bottom: 10px;
    width: 200px;
    /* border: 4px solid rgb(196, 3, 35); */
    margin: 0 auto;
    
}

.serviceslogo {
    align-self: flex-start;
    /* height: auto; */
}

.serviceslogo img {
    /* border: 4px solid rgb(196, 3, 35); */
    width: 100%;
}

.servicestext {
    /* border: 4px solid rgb(196, 3, 35);  */
    margin-top: 20px;
}

.section h2 {
    margin-top: 20px;
    color: #343538;
    font-family: "Roboto", sans-serif;
    margin-bottom: 10px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}